<a href="https://colab.research.google.com/github/Anup-Kanse/Music-Genre-Classification/blob/main/Music_anupedited.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing necessary libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Data preprocessing

In [4]:
df=pd.read_csv("Music Genre Internship Data.csv")

In [5]:
df.head()

             Artist Name  ... time_signature
0             Bruno Mars  ...              4
1                 Boston  ...              4
2          The Raincoats  ...              4
3                   Deno  ...              4
4  Red Hot Chili Peppers  ...              4

[5 rows x 16 columns]

In [6]:
df.tail()

             Artist Name  ... time_signature
25704        Dudu Aharon  ...              4
25705      Elephant Tree  ...              4
25706  Shankar Mahadevan  ...              4
25707      Talking Heads  ...              4
25708       Marlon Craft  ...              4

[5 rows x 16 columns]

In [7]:
df.shape

(25709, 16)

In [8]:
df.size

411344

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25709 entries, 0 to 25708
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Artist Name         25709 non-null  object
 1   Track Name          25709 non-null  object
 2   Popularity          25054 non-null  float64
 3   danceability        25709 non-null  float64
 4   energy              25709 non-null  float64
 5   key                 22887 non-null  float64
 6   loudness            25709 non-null  float64
 7   mode                25709 non-null  int64
 8   speechiness         25709 non-null  float64
 9   acousticness        25709 non-null  float64
 10  instrumentalness    19423 non-null  float64
 11  liveness            25709 non-null  float64
 12  valence             25709 non-null  float64
 13  tempo               25709 non-null  float64
 14  duration_in min/ms  25709 non-null  float64
 15  time_signature      25709 non-null  int64
dtypes: float64(12), int64(2), object(2)
memory usage: 3.1+ MB

Data Types

In [10]:
df.dtypes

Artist Name            object
Track Name             object
Popularity            float64
danceability          float64
energy                float64
key                   float64
loudness              float64
mode                    int64
speechiness           float64
acousticness          float64
instrumentalness      float64
liveness              float64
valence               float64
tempo                 float64
duration_in min/ms    float64
time_signature          int64
dtype: object

In [11]:
df.isnull().sum()

Artist Name              0
Track Name               0
Popularity             655
danceability             0
energy                   0
key                   2822
loudness                 0
mode                     0
speechiness              0
acousticness             0
instrumentalness      6286
liveness                 0
valence                  0
tempo                    0
duration_in min/ms       0
time_signature           0
dtype: int64

Replacing Null Values with Zeros

In [12]:
data=df.fillna(0)

In [13]:
data.isnull().sum()

Artist Name           0
Track Name            0
Popularity            0
danceability          0
energy                0
key                   0
loudness              0
mode                  0
speechiness           0
acousticness          0
instrumentalness      0
liveness              0
valence               0
tempo                 0
duration_in min/ms    0
time_signature        0
dtype: int64

All columns

In [14]:
df.columns

Index(['Artist Name', 'Track Name', 'Popularity', 'danceability', 'energy',
       'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_in min/ms', 'time_signature'],
      dtype='object')

In [15]:
df.describe()

         Popularity  danceability  ...  duration_in min/ms  time_signature
count  25054.000000  25709.000000  ...        2.570900e+04    25709.000000
mean      44.648360      0.544836  ...        2.003485e+05        3.922245
std       17.420299      0.165872  ...        1.123260e+05        0.364073
min        1.000000      0.000000  ...        5.016500e-01        0.000000
25%       33.000000      0.434000  ...        1.660920e+05        4.000000
50%       44.000000      0.546000  ...        2.090710e+05        4.000000
75%       56.000000      0.660000  ...        2.521330e+05        4.000000
max      100.000000      0.989000  ...        1.561133e+06        5.000000

[8 rows x 14 columns]